body {
  margin: 0;

  font-family: "Segoe UI";
  
  -webkit-font-smoothing: antialiased;
  color: #333;
}

button, input, select, textarea {
  font-family: inherit;
}

/* src/renderer/src/App.css */

.window-wrapper {
  display: flex;
  flex-direction: column; /* Barra arriba, cuerpo abajo */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app-body {
  display: flex; /* Sidebar izquierda, Main derecha */
  flex: 1;      /* Ocupa todo el espacio que sobra debajo de la TitleBar */
  overflow: hidden;
}

.content-area {
  flex: 1;
  padding: 20px;   /* Ajusta esto si sientes que el título interno está muy abajo */
  overflow-y: auto;
  background-color: #fdfdfd;
  /* Eliminamos cualquier margen que pueda venir por defecto */
  margin-top: 0; 
}

/* MUY IMPORTANTE: Si usas frame: false, añade esto */
.titlebar {
  -webkit-app-region: drag; /* Permite mover la ventana */
  height: 32px;             /* Altura estándar de barra de Windows */
  background-color: #2c3e50; 
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: white;
}